// Colors variables
$color-primary: #3A66BD;
$color-secondary: #2150AD;
$color-green: #27AF33;
$color-red: #EA1401;


$color-black: #090F1A;
$color-white: #FBFCFF;
$color-gray-light: #E5E7EC;
$color-gray: #C9CED8;
$color-gray-dark: #9197A4;