@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('@fonts/outfit-v5-latin-300.woff2') format('woff2'),
         url('@fonts/outfit-v5-latin-300.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('@fonts/outfit-v5-latin-regular.woff2') format('woff2'),
         url('@fonts/outfit-v5-latin-regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('@fonts/outfit-v5-latin-500.woff2') format('woff2'),
         url('@fonts/outfit-v5-latin-500.woff') format('woff');
  }

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('@fonts/dm-sans-v11-latin-regular.woff2') format('woff2'),
         url('@fonts/dm-sans-v11-latin-regular.woff') format('woff'); 
  }

  $font-family-outfit: 'Outfit';
  $font-number: 'DM Sans';
  
  