@use '@styles' as *;

.about {
    width: calc(100% - 2rem);
    margin: 0 auto;
    max-width: 600px;

    &-title {
        text-align: center;
        margin: 1rem 0;
        font-size: $fz2;
    }

    &-subtitle {
        text-align: center;
        margin: 1rem 0;
        font-size: $fz0;
    }

    &-img {
        width: 100%;
        max-width: 500px;
        margin: 1rem auto;
        border-radius: .5rem;
        overflow: hidden;

        img {
            width: 100%;
            display: block;
        }
    }

    &-text {
        font-size: $fz-1;
    }

    &-brand {
        color: $color-secondary;
    }

    &-emphasis {
        text-decoration: underline;
    }
}

@include lg {
    .about-text {
        text-align: center;
    }
}