@use '@styles' as *;

.backdrop {
    cursor: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.modal {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: fit-content;
    background-color: $color-white;
    border-radius: .5rem;
    text-align: center;
    padding: .5rem;

    &-exit {
        cursor: pointer;
        position: absolute;
        width:$fz1;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 3;
    }

    &-number {
        font-size: $fz1;
        margin: .5rem;
        margin-top: 1rem;
    }

    &-type {
        font-size: $fz0;
        color: $color-gray-dark;
        margin: .5rem
    }

    &-container {
        width: 80%;
        margin: 1rem auto;
        font-size: $fz0;
    }

    &-container-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        text-align: left;

        p {
            color: $color-gray-dark;
            width: 40%;
            max-width: 110px;
        }
    }

    &-balance {
        margin-top: 1.4rem;
        text-align: center;
    }

    &-options {
        
        &-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 200px;
            margin: 1rem auto;
        }

        &-title {
            font-size: $fz0;
            width: 100%;
            color: $color-gray-dark;
        }
        
        &-label {
            margin-top: .5rem;
            font-size: $fz-1;
        }

    }
    
    &-editMode {
        width: 50%;
        max-width: 130px;
        font-size: $fz-1;
        background-color: $color-white;
        border: 1px solid $color-gray-dark;
        border-radius: .25rem;
        padding-left: .5rem;
    }

    

    &-button {
        width: 40%;
        
        button {
            width: 60%;
            max-width: 60px;
            display: inline-block;
            border: 1px solid $color-black;
            border-radius: 50%;
            padding: .5rem .9rem;
            background-color: $color-white;
            transition: background-color .2s ease-in-out;
            
        }
        
        img {
            display: inline-block;
            width: 100%;
            padding-top: 5px;
        }
    }
}

select.modal-input-list {
        width: 50%;
        max-width: 130px;
        font-size: $fz-1;
        background-color: $color-white;
        border: 1px solid $color-gray-dark;
        border-radius: .25rem;
        padding: .05rem .5rem;
}

.editColor {
    color: $color-secondary;
}

.deleteColor {
    color: $color-expense;
}

@include lg {
    .modal-button button:hover {
            background-color: $color-gray;
    }
}