@use '@styles' as *;

.header {
    position: relative;
    padding-top: .5rem;
    height: 3rem;

    &-menu {
        width: 2rem;
        border: none;
        background-color: $color-white;
        margin-left: .5rem;

        img {
            display: block;
            width: 100%;
        }
    }
}

@include lg {
    .header {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .5rem;
        height: 3rem;
        margin-top: 1rem;
    
        &-menu {
            display: none;
        }
    }
}