@use '@styles' as *;

.input {
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;

    &-label {
        display: block;
        font-size: $fz-1;
        margin-bottom: 0.5rem;
    }
    
    &-field {
        display: block;
        font-size: $fz-1;
        width: 100%;
        padding: .5rem;
        background-color: $color-white;
        border: .5px solid $color-black;
        border-radius: .25rem;
        box-shadow: 0px 1px opx $color-gray;


        &::placeholder {
            font-size: $fz-1;
            color: $color-gray-dark;
        }
    }

}
