@use '@styles' as *;

.transactionPage {

    &-filter {
        width: calc(100% - 1rem);
        max-width: 500px;
        align-items: baseline;
        margin: 2rem auto;
    }

    &-filter-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    &-filter-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }

    &-button {
        width: calc(40% - 1rem);
        padding: .5rem;
        border-radius: .25rem;
        border: 1px solid $color-black;
        background-color: $color-primary;
        font-size: $fz2;
        padding: 0 .8rem;
    }

    &-filter-select {
        width: calc(40% - 1rem);
        padding: .3rem ;
        border-radius: .25rem;
        border: 1px solid $color-black;
        background-color: $color-white;
        font-size: $fz-1;
    }

    &-list {
        display: flex;
        width: 100%;
        max-width: 500px;
        justify-content: center;
        margin: 1rem auto;
        margin-bottom: 1.5rem;
        font-size: $fz-1;
    }

    &-list-item {
        flex-basis: 100%;
        text-align: center;
        position: relative;
        color: $color-gray-dark;
        cursor: pointer;

        &:hover {

            &::after {
                content: '';
                position: absolute;
                display: inline-block;
                bottom: -5px;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $color-gray-dark;
            }
        }
    }
}


//type of transaction navigation
.all {
    color: $color-primary;
    background-color: #fff;

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-primary;
    }
}
.incomes {
    color: $color-income;
    background-color: #fff;

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-income;
    }
}
.expenses {
    color: $color-expense;
    background-color: #fff;

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-expense;
    }
}

@include lg {
    .transactionPage-list {
        margin-top: 2rem;
    }
}